
/* treemenu */

.aujs-treemenu {
    background-color: darkblue !important;
    color: ivory;
}

.aujs-treemenu-node {
    background-color: rgba(192,192,255,0.2);
}

    .aujs-treemenu-node.level0 {
        background-color: transparent;
    }

    .aujs-treemenu-node.selected > .aujs-treemenu-node-header {
        background-color: dodgerblue;
        color: yellow;
    }

.aujs-treemenu-node-header {
    /*outline-width: 1px;*/
    /*outline-color: darkkhaki;*/
    /*outline-style: solid;*/
}

    .aujs-treemenu-node-header:hover {
        background-color: rgba(255,255,255,0.25);
    }

.aujs-treemenu-node-outline {
    border-color: khaki;
}



/* blademenu */

.aujs-blademenu {
    /*background-color: darkblue !important;*/
    color: ivory;
}

.aujs-blademenu-node.blade {
    background-color: darkblue;
}

    .aujs-blademenu-node.blade > .header {
        background-color: lavender;
        color: darkblue;
        border-bottom: 5px solid lightsteelblue;
    }

.aujs-blademenu-node.item {
    background-color: transparent;
    /*background: rgba(255,255,255,0.25);*/
}

    .aujs-blademenu-node.item.selected > .header {
        background-color: dodgerblue;
        color: yellow;
    }

    .aujs-blademenu-node.item:not(.selected) > .header:hover {
        background-color: rgba(255,255,255,0.15);
    }

    .aujs-blademenu-node.item.hilited .exp i {
        color: lightskyblue;
    }



/* misc */

.test-block {
    margin: 20px;
}
